.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
html {
  scroll-behavior: smooth;
}

.thumbnail {
    margin-left:20px;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background: no-repeat 50%;
    object-fit: cover;
}

.cover {
  overflow: hidden;
  width: 225px;
  height: 325px;
  object-fit: cover;
}


  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  
  .cover {
    background-image: url(../assets/1.webp);
  }

  .mainbody{
    background-image: url(../assets/1.webp);
  }
  
